<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.grsonlineshopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helper.GRS"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/TrasparentTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BrandActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ProductActivity"
            android:parentActivityName=".activity.BrandActivity" />
        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.ProductActivity" />
        <activity
            android:name=".activity.RateActivity"
            android:parentActivityName=".activity.DetailActivity" />
        <activity
            android:name=".activity.CartActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".navigation.BagActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".navigation.OrderActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".navigation.AboutActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".navigation.ContactActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".navigation.WishlistActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.WishDetailActivity"
            android:parentActivityName=".navigation.WishlistActivity" />
        <activity android:name=".navigation.TermActivity"
            android:parentActivityName=".activity.HomeActivity"/>
    </application>

</manifest>